body {
    background-image: url("../images/background.png");
    background-size: 150% 100%;
}

@media print {
    .grocery {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
}

.container {
    margin-top: 40px;
}

.registerArea {
    margin-top: 80px;
}

.dragArea {
    min-height: 40px;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: right;
}

.close-button:hover {
    top: 13px;
    right: 13px;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
}

.card-header div {
    font-size: large;
}

.card-columns {
    margin: 30px 20px 30px 30px;
}

#plannerFooter {
    position: fixed;
    height: 200px;
    bottom: 40px;
    right: 40px;
}

#showMyRecipesButton {
    margin: 15px;

}


