.background {
    background-image: url("../images/background.jpg");
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container {
    margin-top: 40px;
}

.registerArea {
    margin-top: 80px;
}

.dragArea {
    min-height: 40px;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: right;
}

.close-button:hover {
    top: 13px;
    right: 13px;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
}

.card-header div {
    font-size: large;
}

.card-columns {
    margin: 30px 20px 30px 30px;
}

#plannerFooter {
    position: fixed;
    height: 200px;
    bottom: 40px;
    right: 40px;
}

#showMyRecipesButton {
    margin: 15px;

}


